@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
/*  Colors */
:root {
  --bg-color: #dbefff;
  /* aliceblue */
  --main-color: #00caff;
  --light-color: lighten(#00caff, 40%);
  /* --shadow: 4px 4px 4px #AFC9D0, -4px -4px 4px #FAFDFF; */
  --shadow: inset  5px 5px 5px rgba(0, 0, 0, 0.05),
	inset -5px -5px 5px rgba(255, 255, 255, 0.5),
		   5px 5px 5px rgba(0, 0, 0, 0.05),
		  -5px -5px 5px rgba(255, 255, 255, 0.5);
  --little-shadow: 2px 2px 2px #AFC9D0, -3px -3px 3px #fff;
  --down-shadow: inset 4px 4px 4px #AFC9D0, inset -4px -4px 4px #FAFDFF;
  --little-down-shadow: inset 3px 3px 3px #AFC9D0, inset -3px -3px 3px #FAFDFF;
  --text-color: #877e8c;
  --font: 'Quicksand', sans-serif;
  --thin: 300;
  --semibold: 400;
  --bold: 500;
}

.dark-mode {
  --text-color: rgb(173, 209, 240);
  --bg-color: #005971;
  --shadow: 5px 5px 5px #012220, -5px -5px 5px #14687F;
  --little-shadow: 3px 3px 3px #012220, -3px -3px 3px #14687F;
  /* --down-shadow: inset 3px 3px 3px #012220, inset -4px -4px 4px #14687F; */
  --little-down-shadow: inset 2px 2px 3px #012220, inset -3px -3px 3px #14687F;
  --down-shadow:

	inset  5px 5px 5px rgba(0, 0, 0, 0.2),
          inset -5px -5px 15px rgba(255, 255, 255, 0.1),
                 5px 5px 15px rgba(0, 0, 0, 0.3),
                -5px -5px 15px rgba(255, 255, 255, 0.1);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 0.8em;
  line-height: 1.5em;
  color: var(--text-color);
  background: var(--bg-color);
  -webkit-transition: .05 ease all;
  transition: .05 ease all;
  /* &.dark-mode{
		color: var(--text-dark);
		background: var(--bg-dark);
	} */
}

main {
  width: 90%;
  margin: 0 auto;
}

section {
  width: 100%;
  margin: 0 auto;
  margin-top: 5em;
}

h2 {
  width: auto;
  text-align: center;
  color: var(--main-color);
  font-size: 2em;
  font-weight: normal;
  margin: 1em 0 0.5em 0;
}

h3 {
  font-size: 1.2em;
  font-weight: normal;
  margin-bottom: 0.5em;
  text-align: center;
}

.contain {
  overflow: hidden;
}

/*-- Header --*/
nav {
  height: 5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lang {
  color: var(--main-color);
  padding: 5px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.switch {
  width: 3.3rem;
  height: 1.5rem;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  background-color: var(--bg-color);
  -webkit-box-shadow: var(--little-down-shadow);
          box-shadow: var(--little-down-shadow);
}

.switch span {
  width: 1rem;
  height: 1rem;
}

.switch span svg {
  /* fill: var(--main-color); */
  stroke: var(--main-color);
}

body.dark-mode .switch span svg {
  stroke: var(--main-color);
}

.switch:after {
  content: '';
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  position: absolute;
  background: var(--main-color);
  top: 0;
  left: 0;
  right: unset;
  border-radius: 25px;
  -webkit-box-shadow: var(--little-shadow);
          box-shadow: var(--little-shadow);
}

.switch.active {
  background: var(--bg-medium);
  color: var(--main-color);
}

.switch.active:after {
  right: 0;
  left: unset;
}

/*--- Intro ---*/
.intro {
  margin-top: 100px;
}

.intro .me {
  text-align: center;
}

.intro .me h2 {
  /* color: var(--main-color); */
  color: var(--light-color);
}

.intro .me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid var(--bg-color);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.intro .window {
  margin: 1em auto;
  color: var(--main-color);
  width: 100%;
  height: 40px;
  font-size: 35px;
  line-height: 40px;
  overflow: hidden;
}

.intro .window ul {
  list-style: none;
  padding-left: 10px;
  -webkit-animation: change 8s infinite;
          animation: change 8s infinite;
}

/*--- About ---*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8em auto;
}

.about img {
  width: 100%;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  border: 12px solid var(--bg-color);
}

.about .info {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  font-size: 1.5em;
  line-height: 1.8em;
}

.about .info h2 {
  text-align: start;
}

.about .info h3 {
  text-align: start;
}

.about .info .p-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .info .p-info div {
  padding: 0.5em 0;
  width: 100%;
  font-size: 1em;
}

.about .info .p-info .cv a {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  font-weight: 500;
  color: var(--main-color);
  background: var(--bg-color);
  height: 3em;
  border-radius: 5px;
  text-align: center;
  line-height: 32px;
  text-decoration: none;
}

.about .info .p-info a:hover {
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
}

.about .info .p-info a:active {
  -webkit-box-shadow: var(--down-shadow), var(--shadow);
          box-shadow: var(--down-shadow), var(--shadow);
}

.about .info .p-info h4,
.about .info .p-info p {
  margin: 0;
}

/*--- Skills ---*/
.skills .category {
  margin-top: 4em;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: var(--down-shadow);
          box-shadow: var(--down-shadow);
}

.skills .category svg {
  width: 1rem;
  fill: var(--bg-color);
  stroke: var(--main-color);
  stroke-width: 1;
}

.skills .category h3 {
  display: inline;
  margin-left: 1rem;
}

.list {
  padding: 0;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list li {
  padding-right: 1rem;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
}

.list h5 {
  color: var(--main-color);
  font-size: 1.1em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1em auto 0.5em;
}

.list .plus {
  text-align: center;
}

.now {
  text-align: center;
  padding: 1rem 1rem;
  color: var(--main-color);
  background: var(--bg-color);
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: normal;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  line-height: 2rem;
}

.now span {
  font-weight: var(--bold);
}

/*--- Services ---*/
/*--- Portfolio ---*/
.portfolio h2 {
  text-align: center;
  margin: 2em 0 1em 0;
}

.cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-bottom: 8em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  margin-top: 2em;
  border-radius: 5px;
  background: var(--bg-color);
  padding: 12px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
  position: relative;
  overflow: hidden;
}

.cards .card img {
  width: 100%;
}

.cards .card a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 1.2em;
  font-weight: 500;
  text-transform: uppercase;
}

.cards .card .flex {
  margin: 1rem 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card .tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.cards .card .tech img {
  width: 20px;
}

.cards .card .tech * + * {
  margin-left: 0.5rem;
}

.web .contain {
  height: 400px;
}

.web .contain img:hover {
  -webkit-transform: translateY(-63%);
          transform: translateY(-63%);
  -webkit-transition: all 4s;
  transition: all 4s;
}

.brand img {
  width: 100%;
}

.brand img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.graphic img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: all 2s;
  transition: all 2s;
}

/*--- Contact ---*/
.contact {
  height: 120px;
}

.data {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.data svg {
  margin: 0.5em;
  fill: var(--bg-color);
}

.data a {
  text-decoration: none;
  width: 3em;
  height: 3em;
  background: var(--main-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data a:hover {
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  -webkit-box-shadow: var(--little-shadow);
          box-shadow: var(--little-shadow);
}

/*--Animations --*/
@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0px;
  }
}
@keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0px;
  }
}

/* Modales*/
.overlay {
  background: rgba(1, 34, 32, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*width: 100%;
    height: 100vh;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.active {
  visibility: visible;
}

.modal {
  background: aliceblue;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
  text-align: left;
  width: 90%;
  max-width: 600px;
}

.modal h3 {
  text-align: left;
  color: var(--main-color);
}

.modal img {
  width: 150px;
}

.pointer {
  cursor: pointer;
}

.btn-close {
  font-size: 1em;
  line-height: 1em;
  color: var(--main-color);
  display: block;
  text-align: right;
  color: #bbb;
  font-weight: var(--semibold);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  text-decoration: none;
}

.m-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.m-info a {
  text-decoration: none;
  color: var(--main-color);
  font-weight: bold;
}

/* Current device (phones, 480 and down) */
/*@media only screen and (max-width: 480px) {
}*/
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .intro .me img {
    width: 280px;
    height: 280px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .info {
    line-height: 1.5em;
    padding: 0;
    padding-left: 1em;
  }
  .about .info .p-info div {
    font-size: 1em;
  }
  .about .info .p-info .cv a {
    width: 100%;
  }
  .portfolio h2 {
    margin: 2em 0 1em 0;
  }
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cards .card {
    margin: auto;
    margin-top: 2em;
  }
  .levels {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 3em;
  }
  .intro .me img {
    width: 320px;
    height: 320px;
  }
  .about .work {
    width: 100%;
  }
  .about .info {
    padding-left: 2em;
    font-size: 1.5em;
  }
  .about .info h2 {
    font-size: 2em;
  }
  .about .info .cv a {
    font-size: 1.2em;
  }
  .web .contain {
    height: 600px;
  }
  .cards .card {
    margin-top: 3em;
  }
  .skills {
    padding: 0 2em;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
  }
}

/* Large devices (laptops/desktops, 993px and up) */
@media only screen and (min-width: 993px) {
  .intro .me img {
    width: 350px;
    height: 350px;
  }
  h2 {
    font-size: 3em;
  }
  .about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about .info .p-info div {
    width: 100%;
    font-size: 1em;
    line-height: 1.5em;
  }
  .about .info .p-info .cv a {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 50%;
    font-weight: 500;
    color: var(--main-color);
    background: var(--bg-color);
    height: 3em;
    border-radius: 5px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
  }
  .web .contain {
    height: 300px;
  }
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cards .card {
    width: 50%;
    margin: 1em;
    margin-top: 40px;
  }
  .data {
    width: 400px;
    text-align: center;
  }
  .data svg {
    margin: 0.5em;
    width: 4em;
  }
  .contact {
    height: 200px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    width: 80%;
  }
  section {
    margin-top: 5em;
  }
  .intro .me img {
    width: 250px;
    height: 250px;
  }
  h2 {
    font-size: 2.5em;
    margin-top: 0;
  }
  .about .info {
    font-size: 1.3em;
    line-height: 2em;
  }
  .about .info .p-info div {
    width: 50%;
    font-size: 1em;
  }
  .about .info .p-info .cv a {
    width: 100%;
    text-align: center;
  }
  .web .contain {
    height: 350px;
  }
  .data svg {
    margin: 0.5em;
    width: 2.5em;
  }
  .contact {
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */