@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500&display=swap");
/*-- Colors --*/
:root {
  --bg-color: #e6ffff;
  --light-shadow: #fcffff;
  --dark-shadow: #bfffff;
  --main-color: #0fd3ff;
  --text-color: #7e898c;
  --shadow: 5px 5px 5px var(--dark-shadow),
    -5px -5px 5px var(--light-shadow);
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 2em;
  color: var(--text-color);
}

main {
  max-width: 1140px;
  background: var(--bg-color);
  margin: 0 auto;
}

section {
  padding: 60px 10px 20px;
  height: 500px;
}

/*--- Intro ---*/
.intro {
  background: var(--bg-color);
}

.me {
  text-align: center;
}

.me img {
  border: 10px solid var(--bg-color);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.me h2 {
  color: var(--main-color);
  font-size: 2em;
  margin-top: 1em;
}

.intro img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container {
  margin: 1em auto;
  /*border: 1px solid  grey;*/
  width: 500px;
  height: 40px;
  font-size: 35px;
  line-height: 40px;
  overflow: hidden;
}

.container ul {
  list-style: none;
  padding-left: 10px;
  -webkit-animation: change 8s infinite;
          animation: change 8s infinite;
}

@-webkit-keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes change {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0px;
  }
}

/*--- About ---*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about div {
  width: 45%;
  padding: 1em;
}

.about .work {
  border: 10px solid var(--bg-color);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

.about .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .info h5 {
  float: left;
}

.about .info .cv {
  background: var(--bg-color);
  width: 200px;
  height: 40px;
  border: 10px solid var(--bg-color);
  border-radius: 5px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

/*--- Skills ---*/
/*--- Services ---*/
/*--- Portfolio ---*/
.web {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.web .card {
  width: 30%;
  height: 200px;
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow);
}

/*--- Contact ---*/
/*# sourceMappingURL=style.css.map */