@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

/*-- Colors --*/
/*
:root{ 
    --bg-color: #e6ffff;
    --light-color: #fcffff;
    --dark-color: #bfffff;
    --verydark-color: #99ffff;
    --main-color: #00caff;
    --main-color2: #0fd3ff;
    --text-color: #7e898c;

    --shadow: 5px 5px 5px var(--dark-color),
    -5px -5px 5px var(--light-color);
    --inner-shadow: inset 5px 5px 5px var(--dark-color),
    inset -5px -5px 5px var(--light-color);
    --verydark-shadow: 5px 5px 5px var(--verydark-color),
    -5px -5px 5px var(--light-color);

    --font: 'Quicksand', sans-serif;

}*/


:root{ 
    /*--bg-color: #e0e5ec;*/
    --bg-color: #D6EFF6;
    --main-color: #00caff;

    --shadow: -8px -8px 20px 0px #fff9, -6px -6px 6px 0px #fff9,
    8px 8px 20px 0px #0001, 5px 5px 6px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001;

    /*--hover-shadow: -8px -8px 15px 0px #fff, -6px -6px 6px 0px #fff,
    8px 8px 20px 0px #000, 5px 5px 6px 0px #000, inset 0px 0px 0px 0px #fff,
    inset 0px 0px 0px 0px #000, inset 0px 0px 0px 0px #fff,
    inset 0px 0px 0px 0px #000;*/


    --inner-shadow: 0px 0px 0px 0px #fff9, 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001, 0px 0px 0px 0px #0001, inset -8px -8px 20px 0px #fff9,
    inset -5px -5px 6px 0px #fff9, inset 8px 8px 20px 0px #0003,
    inset 5px 5px 6px 0px #0001;

    --font: 'Quicksand', sans-serif;
    --text-color: #877e8c;
    --thin: 300;
    --semibold: 400;
    --bold: 500;
    

}


*{

    margin: 0 auto;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    font-size: 16px;
    line-height: 2em;
    color: var(--text-color);
    background: var(--bg-color);
    
}

main{
    width: 80%;
    
    margin: 0 auto;
}

section{
    padding: 60px 10px 20px;
}

h2{
    color: var(--main-color);
    font-size: 2em;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
}

h3{
    font-weight: normal;
    margin-bottom: 0.5em;

}

/*--- Intro ---*/

.intro{
    margin-top: 100px;

    .me{
        text-align: center;
        h2{
            color: var(--text-color);
        }
        img{
            width: 200px;
            height: 200px;
            border-radius: 50%;
            border: 10px solid var(--bg-color);
            box-shadow: var(--shadow);
        }
        
    }


    .container{
        margin: 1em auto;
        color: var(--main-color);
        /*border: 1px solid  grey;*/
        width: 500px;
        height: 40px; 
        font-size: 35px;
        line-height: 40px;
        overflow: hidden;
        
        ul{
            list-style: none;
            padding-left: 10px;
            animation: change 8s infinite;
        }
    }

}


/*--- About ---*/

.about{
    display: grid;
    grid-template-columns: 1fr 1fr;


    .work{
        width: 100%;
        background: var(--bg-color);
        display: flex;
        justify-content: center;
        img{
            padding: 1em;
            border-radius: 10px;
            border: 10px solid var(--bg-color);
            box-shadow: var(--shadow);

        }

    }

    .info{
        width: 100%;
        padding: 1em;

     

        .p-info{

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div{
                padding: 1em 0;
                width: 50%;
            }
            .cv{
                
                a{
                display: grid;
                place-items: center;
                width: 50%;
                font-weight: 500;
                color: var(--main-color);
                background: var(--bg-color);
                height: 3em;
                border-radius: 5px;
                /*box-shadow: var(--shadow);*/
                text-align: center;
                line-height: 32px;
                text-decoration: none;

                }
            }
             a:hover{
                box-shadow: var(--shadow);
                transition: box-shadow 0.5s ease-in-out;
            }
             a:active{
                box-shadow: var(--inner-shadow), var(--shadow);
            }
           

        }
       
    }
 

}


/*--- Skills ---*/


/*--- Services ---*/


/*--- Portfolio ---*/

.portfolio{

    h2{
        text-align: center;
        margin: 3em 0 2em 0;
    }
}


.cards{
    display: flex;
    justify-content: space-between;
    
    .card{
        width: 30%;
        height: 300px;
        border: 12px solid var(--bg-color);
        box-shadow: var(--shadow);
        position: relative;

        overflow: hidden;


        img{
            width: 100%;
     

        }



    }
}


/*
.cover{
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}

.cover:hover{
    background:var(--main-color);
    transition: all 1s;
    transition-delay: background 10s;

}
.web img:hover{
    transform: translateY(-63%);
    transition: all 4s;
    
    
}*/

.brand img{
    width: 100%;
    

}
.brand img:hover{
    transform: scale(1.3);
    transition: all 2s;
}

.graphic img:hover{
    transform: scale(1.3);
    transition: all 2s;
}



/*--- Contact ---*/

.contact{
    height: 200px;
}

.data{
    width: 300px;
    margin: 0 auto;

    

    svg{
        margin: 0.5em;
        width: 2.5em;
        fill: var(--main-color);

    }
    a{
        text-decoration: none;
    }


}


/*--Animations --*/

@keyframes change{
    0%{margin-top: 0;}
    20%{margin-top: 0;}
    25%{margin-top: -40px;}
    50%{margin-top: -40px;}

    55%{margin-top: -80px;}
    80%{margin-top: -80px;}

    85%{margin-top: -40px;}
    95%{margin-top: -40px;}

    100%{margin-top: 0px;}
}


/* Extra small devices (phones, 480 and down) */
@media only screen and (max-width: 480px) {
    main{
        width: 95%;    
    }
    section{
        padding-top: 40px;
    }
    .about{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .info{
            margin-top: 3em;
            font-size: 20px;
            padding: 0;
            padding-left: 1em;
            .p-info{
                
                div{
                    width: 100%;
                    font-size: 1em;
                  
                }
                .cv a{
                    width: 100%;
                }

            } 
        }
        .work img{
            width: 100%;
        }
    }
    .portfolio{
        h2{
            margin: 2em 0 1em 0;
        }
    }
   

    .cards{
        flex-direction: column;
        margin-bottom: 5em;

        .card{
            width: 100%;
            height: 300px;
            margin: auto;
            margin-top: 40px;
        }
    }

    .brand{

        img{
            display: flex;
        align-items: center;

        }
        
    }

    .data{
        text-align: center;
    }
    .contact{
        height: 150px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 767px) and (min-width: 600px){
    main{
        max-width: 1199px;  
    }
    section{
        padding-top: 40px;
    }

    .intro .me img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        border: 10px solid var(--bg-color);
        -webkit-box-shadow: var(--shadow);
        box-shadow: var(--shadow);
    }

    .about{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        .info{
            /*margin-top: 3em;*/
            font-size: 2em;
            line-height: 1.2em;
            padding: 0;
            padding-left: 1em;
            .p-info{
                
                div{
                    width: 100%;
                    font-size: 1em;
                  
                }
                .cv a{
                    width: 100%;
                }

            } 
        }
        .work img{
            width: 100%;
        }
    }
    .portfolio{
        h2{
            margin: 2em 0 1em 0;
        }
    }
   

    .cards{
        flex-direction: column;
        margin-bottom: 5em;

        .card{
            width: 100%;
            height: 380px;
            margin: auto;
            margin-top: 40px;
        }
    }

    .data{
        text-align: center;
    }
    .contact{
        height: 150px;
    }
}

    



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) and (min-width: 768px) {

    .cards .card{

        height: 500px;

    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 1199px) and (min-width: 992px){

    h2{
        font-size: 3em;
    }


    .about{

        .info{
 
           
            .p-info{
                
                div{
                    width: 50%;
                    font-size: 1em;
                  
                }
  

            } 
        }

    }

   

    .cards{

        .card{
            width: 100%;
            height: 720px;
            margin: auto;
            margin-top: 40px;
        }
    }

    .data{
        width: 400px;
        text-align: center;
        svg{
            margin: 1em;
            width: 4.5em;
        }
    }
    .contact{
        height: 200px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main{
        max-width: 1366px;
        
    }
}