@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

:root {
  --bg-color: #dbefff; /* aliceblue */
  --main-color: #00caee;
  --light-color: lighten(#00caee, 40%);
  --line-test: border 1px solid blue;
  --shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5),
    5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
  --little-shadow: 2px 2px 2px #afc9d0, -3px -3px 3px #fff;
  --down-shadow: inset 4px 4px 4px #afc9d0, inset -4px -4px 4px #fafdff;
  --little-down-shadow: inset 3px 3px 3px #afc9d0, inset -3px -3px 3px #fafdff;
  --text-color: #877e8c;
  --font: "Quicksand", sans-serif;
  --thin: 300;
  --semibold: 400;
  --bold: 500;
  --color-amber-100:oklch(96.2% 0.059 95.617);
  --color-lime-100:oklch(93.8% 0.127 124.321);
  --color-sky-100:oklch(90.1% 0.058 230.902);
  --color-violet-100:oklch(89.4% 0.057 293.283);
  --color-fuchsia-100:oklch(90.3% 0.076 319.62);
  --color-emerald-100:oklch(95% 0.052 163.051);
  --color-amber-200:oklch(96.2% 0.059 95.617);
  --color-lime-200:oklch(93.8% 0.127 124.321);
  --color-sky-200:oklch(90.1% 0.058 230.902);
  --color-violet-200:oklch(89.4% 0.057 293.283);
  --color-fuchsia-200:oklch(90.3% 0.076 319.62);
  --color-emerald-200:oklch(95% 0.052 163.051);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: rgb(173, 209, 240);
    --bg-color: #005971;
    --shadow: 5px 5px 5px #012220, -5px -5px 5px #14687f;
    --little-shadow: 3px 3px 3px #012220, -3px -3px 3px #14687f;
    /* --down-shadow: inset 3px 3px 3px #012220, inset -4px -4px 4px #14687F; */
    --little-down-shadow: inset 2px 2px 3px #012220, inset -3px -3px 3px #14687f;
    --down-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
}


html{
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}



@keyframes backgroundColors {
  0%   { background-color: var(--color-sky-200) } 
  16.66% { background-color: var(--color-violet-200) }
  33.33% { background-color: var(--color-fuchsia-200) }
  50%   { background-color: var(--color-amber-200) }
  66.66% { background-color: var(--color-lime-200)}
  83.33% { background-color: var(--color-emerald-200) }
  100%  { background-color: var(--color-sky-200)}
}

.bg-animated {
  animation: backgroundColors 28s linear infinite;
  transition: background-color 3s linear;

}


.btn-primary {
  @apply px-4 py-2 text-cyan-500 rounded-lg transition;
  box-shadow: var(--little-shadow);
}



